@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200;300;400;500&display=swap');

*{
    box-sizing: border-box;
    margin: 0;
    font-family: 'Oswald', sans-serif;
}
body{
  /*background-color: #f88181*/
  background-color: #f1f5f9;
  
}


.emoji{
  width: 10rem;
}

.container{
  position: absolute;
  left:50%;
  top:50%;
  transform: translate(-50%,-50%);
  min-height: 30rem;
  text-align: center;
  justify-content: space-evenly;
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 40rem;
  background-color: rgb(46, 46, 46);
  color: #f1f5f9;
  border-radius: 15px;
  font-size: 1.3rem;
  padding: 1rem 5rem;
  
  box-shadow: black 0px 0px 18px 0px;
}

button{
  border-radius: 10px;
  width: 7rem;
  padding: 0.2rem 0rem;
  font-weight: 500;
  background-color: transparent;
  border: 2px solid #f1f5f9;
  color: #f1f5f9;
  font-size: 1.2rem;
  cursor: pointer;
}

.text{
  margin-bottom: 2rem;
  color: #f1f5f9;
  transition: color 1s ease;
}

.text-out{
  color: transparent;
  transition: color 1s ease;
}
